.card {
    background-image: url('india-in-pictures-beautiful-places-to-photograph-golden-temple-amritsar.jpg');
   
    text-align: center;
    margin-bottom: 250px;
    margin-left: 250px;
    margin-right: 250px;
    background-size: cover
}
    .main{
    background-image: url('india-in-pictures-beautiful-places-to-photograph-gateway-of-india-mumbai.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    .price {
    color: yellow;
    font-size: 18px;
    }
    
h3{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 150px;
}
.links{
text-align: right;
font-size: x-large;
font-style: italic;

}
#main{
    text-align: center;
    color: rgb(231, 17, 17);
}
input{
    width: 250px !important;
    margin-bottom: 10px ;
    margin-left: auto ;
    margin-right: auto ;
}